@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* Custom scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #e9e3e3;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #dbd9d9;
}

/* For Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #c2c0c0 #f1f1f1;
  /* thumb and track color */
}

/* Dark mode scrollbar */
.dark .custom-scroll::-webkit-scrollbar-track {
  background: #1f2937;
}

.dark .custom-scroll::-webkit-scrollbar-thumb {
  background: #374151;
}

.dark .custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}

.dark .custom-scroll {
  scrollbar-color: #4b5563 #1f2937;
  /* thumb and track color */
}

/* Custom scrollbar (colorless) */
.custom-scroll-white::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scroll-white::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

.custom-scroll-white::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

.custom-scroll-white::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

/* For Firefox */
.custom-scroll-white {
  scrollbar-width: thin;
  scrollbar-color: #fff #fff;
  /* thumb and track color */
}